{% extends 'base.html' %}
<!--Loading the style sheets applicable to this page-->
{% block styles %}
{% endblock %}

{% block body %}
<section class="banner">
    <h1>About</h1>
</section>

<section class="info">
    <div class="textbg">
        <p class="im2">As an Organisational Development Manager, I am passionate about enhancing manager performance and facilitating organisational 
            change at the middle manager level. I have supported executives in various industries, 
            such as ICI, ENRON, SUMITOMO ELECTRIC, SEMBCORO UTILITIES, DFS Furniture, O2, Trinity House and CRONER. 
            Many senior executives and business owners trust and value my advice.</p><br>
        <p class="im5">My main area of expertise is manager performance, where I assist executives to improve or replace underperforming managers. 
            I have a wealth of practical experience in leading and managing both line managers and middle managers. 
            For the last 20 years, I have trained and coached first-time middle managers in manager performance management.</p><br>
        <p class="im3">My business goal is to provide comprehensive training and development programs to managers of managers, specifically focusing on 
            manager performance management. I also offer training and coaching services for non-executive directors, enabling them to 
            effectively monitor and measure manager performance. By doing so, I help executives to achieve their 
            business goals and objectives and create a culture of continuous improvement and accountability in the organisation.</p>
    </div>
</section>
{% endblock %}