{% extends 'base.html' %}
<!--Loading the style sheets applicable to this page-->
{% block styles %}
<link rel="stylesheet" href="static/css/services.css">
{% endblock %}
<section class="banner">
    <h1>About</h1>
</section>

{% block body %}
<section class="banner">
    <h1>Business Case</h1>
</section>

<div class="split">
    <h1>Non-Executive Directors (NEDs) be employed to monitor and scrutinise manager performance</h1>
    <p>
        Manager performance is a critical factor for the success of any organisation. It affects the quality of work, employee engagement, customer satisfaction, and financial results. However, manager performance is often not evaluated or managed effectively, leading to slow growth, poor performance, lost business opportunities and low staff morale.
        To address this issue, we propose to use non-executive directors (NEDs) to oversee all manager performance management activities and 
        procedures. NEDs are independent board members who are not involved in the day-to-day operations of the organisation but will provide 
        executives with progress updates on manager targets and objectives and ensure all 
        manager performance management tools and procedures are implemented as necessary.
    </p>

    <div class="services">
        <div class="service s1" onclick="location.href='#virtualmanagerperformancemanagementtraining'">
            <h2>Virtual Manager Performance Management Training</h2>
        </div>

        <div class="service s2" onclick="location.href='#oneononesupportadvice'">
            <h2>One-on-one support and advice on specific objectives</h2>
        </div>

        <div class="service s3" onclick="location.href='#organisationaldevelopmentsupportadvice'">
            <h2>Organisational  Development Support and Advice</h2>
        </div>

        <div class="service s4" onclick="location.href='#managerperformancebooks'">
            <h2>Manager Performance Management Books and learning</h2>
        </div>
    </div>
</div>

<div class="imagesplit s3">
    <div style="margin: auto;">
        <h1>Manager Performance</h1>
        <p>The timely use of tools, techniques and procedures to effectively monitor, manage, develop and 
            correct manager performance</p>
    </div>
</div>

<div class="split">
    <h1>From the perspective of managers</h1>
    <p>
        NEDs hold significant importance within an organisation and report to the highest-ranking executives. 
        The stature and significance of NEDs are crucial in earning the trust and respect of managers.
    </p>

    <h2 class="h2black">The benefits of using NEDs for scrutinising and monitoring manager performance</h2>

    <div class="services">
        <div class="service s1" onclick="location.href='#'">
            <h2>Executive Focus</h2>
        </div>

        <div class="service s2" onclick="location.href='#'">
            <h2>Alignment of Manager Objectives</h2>
        </div>

        <div class="service s3" onclick="location.href='#'">
            <h2>Performance Improvement</h2>
        </div>

        <div class="service s4" onclick="location.href='#'">
            <h2>Accountability and Transparency</h2>
        </div>

        <div class="service s4" onclick="location.href='#'">
            <h2>Manager Development</h2>
        </div>

        <div class="service s4" onclick="location.href='#'">
            <h2>Objectivity and Fairness</h2>
        </div>

        <div class="service s4" onclick="location.href='#'">
            <h2>First-time Managers</h2>
        </div>

        <div class="service s4" onclick="location.href='#'">
            <h2>Innovation and Creativity</h2>
        </div>
    </div>
</div>
{% endblock %}