{% extends 'base.html' %}
<!--Loading the style sheets applicable to this page-->
{% block styles %}
<link rel="stylesheet" href="static/css/services.css">
{% endblock %}

{% block body %}
<section class="banner">
    <h1>Getting Managers Attention</h1>
</section>

<div class="split">
    <p>[Insert generic overview info about how the services can help achieve manager goal]</p>
    <div class="services">
        <div class="service s1" onclick="location.href='#virtualmanagerperformancemanagementtraining'">
            <h2>Virtual Manager Performance Management Training</h2>
        </div>

        <div class="service s2" onclick="location.href='#oneononesupportadvice'">
            <h2>One-on-one support and advice on specific objectives</h2>
        </div>

        <div class="service s3" onclick="location.href='#organisationaldevelopmentsupportadvice'">
            <h2>Organisational  Development Support and Advice</h2>
        </div>

        <div class="service s4" onclick="location.href='#managerperformancebooks'">
            <h2>Manager Performance Management Books and learning</h2>
        </div>
    </div>
    <input id="managingdirector" type="text" name="managingdirector" placeholder="Managing Director.....">
    <input id="newmember" type="text" name="newmember" placeholder="Non-Executive Director.....">
    <button onclick="openEmail(1);" style="color:black">Template 1</button>
    <button onclick="openEmail(2);" style="color:black">Template 2</button>
</div>
{% endblock %}